<script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>

<p style="color:white" id="datax">
    {{headers}}
</p>
<p style="color:white" id="datay">
    {{counts}}
</p>

<canvas id="graph"></canvas>

<script>
    let myCanvas = document.getElementById("graph").getContext("2d");
    let datax = document.getElementById("datax").innerText;
    let datay = document.getElementById("datay").innerText;

    console.log(datax);
    console.log(datay);
    var chart = new Chart(myCanvas, {
        type: "pie",
        data: {
            labels: datax.split(","), //usuarios
            datasets: [
                {
                    label: "Number of captures per user",
                    backgroundColor: [
                        'rgba(255, 99, 132, 2)',
                        'rgba(0, 206, 86, 2)',
                        'rgba(255, 206, 86, 2)',
                        'rgba(75, 192, 192, 2)',
                        'rgba(153, 102, 255, 2)',
                        'rgba(255, 0, 0, 2)',
                        'rgba(255, 255, 0, 2)'
                    ],
                    borderColor: "rgb(0,0,0)",
                    data: datay.split(",")//data
                }
            ]
        },
    })
    document.getElementById("graph").style.width = "1000px";
    document.getElementById("graph").style.height = "1000px";
    document.getElementById("graph").style.color = "black";

</script>