<script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>

<p style="color:white" id="datax">
    {{users_list}}
</p>
<p style="color:white" id="datay">
    {{counts_list}}
</p>

<canvas id="graph"></canvas>

<script>
    let myCanvas = document.getElementById("graph").getContext("2d");
    let datax = document.getElementById("datax").innerText;
    let datay = document.getElementById("datay").innerText;

    console.log(datax);
    console.log(datay);

    var chart = new Chart(myCanvas, {
        type: "bar",
        data: {
            labels: datax.split(","), //usuarios
            datasets: [
                {
                    label: "Number of captures per user",
                    backgroundColor: [
                        'rgba(255, 99, 132, 5)',
                        'rgba(54, 162, 235, 5)',
                        'rgba(255, 206, 86, 5)',
                        'rgba(150, 206, 36, 5)',
                        'rgba(2, 206, 0, 5)',
                        'rgba(0, 105, 86, 5)',
                        'rgba(255, 10, 86, 5)'
                    ],
                    borderColor: "rgb(0,255,0)",
                    data: datay.split(",")//data
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })
    document.getElementById("graph").style.width="1000px";
    document.getElementById("graph").style.height="1000px";
    document.getElementById("graph").style.color="black";
    //document.getElementById("graph").style="black";

</script>