<div class="container-p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/releases/edit/{{release.id}}" method="POST">
                        {{!-- If the album is selected display a different view to add multiple songs --}}
                        <div class="form-group">
                            <input type="text" value="{{release.title}}" class="form-control" name="title" placeholder="Title" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{release.artists}}" class="form-control" name="artists" placeholder="Artists">
                        </div>
                        {{!-- make a checkbox list with other option in case the genre isn't displayed --}}
                        <div class="form-group">
                            <input type="text" value="{{release.genre}}" class="form-control" name="genre" placeholder="Genre">
                        </div>
                        <div class="form-group">
                           <button class="btn btn-success btn-block">
                               Send
                           </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>